services:
  scrum-api-app:
    env_file:
        - .env
    build:
      context: . # This means build our docker file in current directory
      args:
        - DEV=true # Configure docker-compose on build to install Dev Requirements
    volumes:
      - ./app:/app # maps app directory from local machine to /app  inside Docker container
      - scrum-api-static-data:/vol/web
    command: > #command that is used to run the service
          sh -c "python manage.py wait_for_db &&
                 python manage.py collectstatic --noinput &&
                 python manage.py migrate &&
                 gunicorn app.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    environment:
      - STATIC_ROOT
      - MEDIA_ROOT
      - CORS_ALLOWED_ORIGINS
      - ALLOWED_HOSTS
      - DEBUG
      - SECRET_KEY
      - USE_SQLITE
      - DB_HOST=scrum-api-db
      - DB_NAME=scrumapidevdb
      - DB_PASS=scrumapichangeme
      - DB_USER=scrumapidevuser
      - EMAIL_HOST_USER=noreply.join@e-mail.de
      - EMAIL_HOST_PASSWORD
      - EMAIL_HOST=smtp.1und1.de
    depends_on:
      - scrum-api-db
    networks:
      - scrum-api-network

  scrum-api-nginx:
    image: nginx:alpine
    depends_on:
      - scrum-api-app
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - scrum-api-static-data:/vol/web  # Named volume for sharing between containers
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - scrum-api-network

  scrum-api-db:
    image: postgres:13-alpine
    volumes:
      - scrum-api-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=scrumapidevdb
      - POSTGRES_USER=scrumapidevuser
      - POSTGRES_PASSWORD=scrumapichangeme
    networks:
      - scrum-api-network

  scrum-api-mail:
    image: mailhog/mailhog
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP
    networks:
      - scrum-api-network

volumes:
  scrum-api-db-data:
  scrum-api-static-data:

networks:
  scrum-api-network:
    driver: bridge
