[tool.mypy]
plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]
warn_return_any = true
warn_unused_configs = true
strict = true
show_column_numbers = true
files = "src"
exclude = ['^venv/', "^env/"]
explicit_package_bases = true
mypy_path = "stubs"

[tool.basedpyright]
pythonVersion = "3.13"
include = ["src"]
exclude = ["^venv/", "^env/"]
extraPaths = ["src"]
useLibraryCodeForTypes = true

# Type checking settings
reportMissingImports = "error"
reportMissingTypeStubs = "error"
reportMissingParameterType = "error"
reportMissingTypeArgument = "error"
reportMissingModuleSource = "error"
reportUnknownParameterType = "error"
reportUnknownArgumentType = "error"
reportUnknownVariableType = "error"
reportUnknownMemberType = "error"
reportUnknownLambdaType = "error"
reportUntypedBaseClass = "error"
reportUntypedNamedTuple = "error"
reportUntypedFunctionDecorator = "error"
reportUntypedClassDecorator = "error"

# Report settings
reportReturnType = "error"
# reportFunctionReturnType = "error"
reportAssignmentType = "error"
reportArgumentType = "error"
reportAttributeAccessIssue = "error"
reportCallIssue = "error"
reportIncompatibleMethodOverride = "error"
reportIncompatibleVariableOverride = "error"
reportInvalidTypeArguments = "error"
reportInvalidTypeForm = "error"
reportOptionalCall = "error"
reportOptionalContextManager = "error"
reportOptionalIterable = "error"
reportOptionalMemberAccess = "error"
reportOptionalOperand = "error"
reportOptionalSubscript = "error"
reportOperatorIssue = "error"
reportOverlappingOverload = "error"
reportPossiblyUnboundVariable = "error"
reportUnboundVariable = "error"
reportAssertTypeFailure = "error"
reportAssertAlwaysTrue = "error"
reportInvalidStringEscapeSequence = "error"
reportInvalidTypeVarUse = "error"
reportInvalidStubStatement = "error"
reportIncompleteStub = "error"
reportConstantRedefinition = "error"

# Additional strictness settings
reportPrivateUsage = "error"
reportPrivateImportUsage = "error"
reportDuplicateImport = "error"
# reportShadowedImports = "error"
reportUnusedImport = "error"
reportUnusedFunction = "error"
reportUnusedClass = "error"
reportUnusedVariable = "error"
reportUnusedExpression = "error"
reportUnusedExcept = "error"
reportUnusedCallResult = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "error"
reportUnnecessaryContains = "error"
reportUnnecessaryIsInstance = "error"
reportUnnecessaryTypeIgnoreComment = "error"
reportImplicitOverride = "error"
reportDeprecated = "error"
reportAbstractUsage = "error"
reportNoOverloadImplementation = "error"
reportMatchNotExhaustive = "error"
reportSelfClsParameterName = "error"
reportTypedDictNotRequiredAccess = "error"
reportPropertyTypeMismatch = "error"
reportUnhashable = "error"
reportWildcardImportFromLibrary = "error"
reportFunctionMemberAccess = "error"
reportIndexIssue = "error"
reportGeneralTypeIssues = "error"
reportInconsistentOverload = "error"
reportImportCycles = "error"
reportInconsistentConstructor = "error"
reportMissingSuperCall = "error"
reportUninitializedInstanceVariable = "error"
reportUnreachable = "error"

enableTypeIgnoreComments = true
enableReachabilityAnalysis = true
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
deprecateTypingAliases = true
enableExperimentalFeatures = false
defineConstant = { DEBUG = true }
analyzeUnannotatedFunctions = true
disableBytesTypePromotions = true
strictParameterNoneValue = true

[tool.black]
line-length = 88
target-version = ["py38"]
skip-string-normalization = false
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | migrations
  | __pycache__
  | build
  | dist
)/
'''

[tool.pylint.main]
source = "src"
max-line-length = 88
load-plugins = ["pylint_django"]
ignore = ["migrations", "venv", ".venv", "__pycache__"]
django-settings-module = "app.settings"
disable = ["W0511", "C0114", "C0115", "C0116"]

[tool.django-stubs]
django_settings_module = "src.app.settings"

[tool.isort]
profile = "black"
line_length = 88
skip = ["venv", ".venv", "__pycache__"]
skip_glob = ["*.venv/*"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_also = [
    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self\\.debug",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if __name__ == .__main__.:",

    # Don't complain about abstract methods, they aren't run:
    "@(abc\\.)?abstractmethod",
    ]

ignore_errors = true

[tool.coverage.html]
directory = "coverage_html_report"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "src.app.settings"
python_files = ["tests.py", "test_*.py", "*_tests.py"]
addopts = "--cov=src --cov-report=term-missing --cov-report=html:coverage_html_report"
python_paths = "src"
