[tool.basedpyright]
pythonVersion = "3.13"
include = ["src"]
exclude = [
  "^venv/",
  "^env/",
  "**/migrations",
  "__pycache__"
]
extraPaths = ["src"]
useLibraryCodeForTypes = true
typeCheckingMode = "strict"

# Type checking settings
reportMissingImports = "error"
reportMissingTypeStubs = "error"
reportMissingParameterType = "error"
reportMissingTypeArgument = "error"
reportMissingModuleSource = "error"
reportUnknownParameterType = "error"
reportUnknownArgumentType = "error"
reportUnknownVariableType = "error"
reportUnknownMemberType = "error"
reportUnknownLambdaType = "error"
reportUntypedBaseClass = "error"
reportUntypedNamedTuple = "error"
reportUntypedFunctionDecorator = "error"
reportUntypedClassDecorator = "error"
reportReturnType = "error"
reportAssignmentType = "error"
reportArgumentType = "error"
reportAttributeAccessIssue = "error"
reportCallIssue = "error"
reportIncompatibleMethodOverride = "error"
reportIncompatibleVariableOverride = "error"
reportInvalidTypeArguments = "error"
reportInvalidTypeForm = "error"
reportOptionalCall = "error"
reportOptionalContextManager = "error"
reportOptionalIterable = "error"
reportOptionalMemberAccess = "error"
reportOptionalOperand = "error"
reportOptionalSubscript = "error"
reportOperatorIssue = "error"
reportOverlappingOverload = "error"
reportPossiblyUnboundVariable = "error"
reportUnboundVariable = "error"
reportAssertTypeFailure = "error"
reportAssertAlwaysTrue = "error"
reportInvalidStringEscapeSequence = "error"
reportInvalidTypeVarUse = "error"
reportInvalidStubStatement = "error"
reportIncompleteStub = "error"
reportConstantRedefinition = "error"
reportPrivateUsage = "error"
reportPrivateImportUsage = "error"
reportDuplicateImport = "error"
reportUnusedImport = "error"
reportUnusedFunction = "error"
reportUnusedClass = "error"
reportUnusedVariable = "error"
reportUnusedExpression = "error"
reportUnusedExcept = "error"
reportUnusedCallResult = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "error"
reportUnnecessaryContains = "error"
reportUnnecessaryIsInstance = "error"
reportUnnecessaryTypeIgnoreComment = "error"
reportImplicitOverride = "error"
reportDeprecated = "error"
reportAbstractUsage = "error"
reportNoOverloadImplementation = "error"
reportMatchNotExhaustive = "error"
reportSelfClsParameterName = "error"
reportTypedDictNotRequiredAccess = "error"
reportPropertyTypeMismatch = "error"
reportUnhashable = "error"
reportWildcardImportFromLibrary = "error"
reportFunctionMemberAccess = "error"
reportIndexIssue = "error"
reportGeneralTypeIssues = "error"
reportInconsistentOverload = "error"
reportImportCycles = "error"
reportInconsistentConstructor = "error"
reportMissingSuperCall = "error"
reportUninitializedInstanceVariable = "error"
reportUnreachable = "error"
reportRedeclaration = "error"
reportTypeCommentUsage = "error"
reportCallInDefaultInitializer = "error"
reportImplicitStringConcatenation  = "error"
reportUndefinedVariable = "error"
reportUnsupportedDunderAll  = "error"
reportUnusedCoroutine = "error"
reportAny = "warning"
reportIgnoreCommentWithoutRule = "error"
reportPrivateLocalImportUsage = "error"
reportImplicitRelativeImport = "error"
reportInvalidCast = "error"
reportUnusedParameter = "warning"
reportImplicitAbstractClass = "error"
reportUnannotatedClassAttribute = "warning"

enableTypeIgnoreComments = true
enableReachabilityAnalysis = true
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
deprecateTypingAliases = true
enableExperimentalFeatures = false
defineConstant = { DEBUG = true }
analyzeUnannotatedFunctions = true
disableBytesTypePromotions = true
strictParameterNoneValue = true
failOnWarnings = true

[tool.black]
line-length = 88
target-version = ["py38"]
skip-string-normalization = false
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | __pycache__
  | build
  | dist
)/
'''

[tool.pylint.main]
source = "src"
max-line-length = 88
load-plugins = ["pylint_django"]
ignore = ["venv", ".venv", "__pycache__"]
django-settings-module = "app.settings"
disable = ["W0511", "C0114", "C0115", "C0116", "R0901", "C0415", "W0613", "R0913", "R0917", "R0902", "W0611"]

[tool.django-stubs]
django_settings_module = "src.app.settings"

[tool.isort]
profile = "black"
line_length = 88
skip = ["venv", ".venv", "__pycache__"]
skip_glob = ["*.venv/*"]

[tool.coverage.run]
branch = true
source = ["src"]
omit = [
    "typings/*",
    "**/tests/*",
    "*/migrations/*",
    "*/__init__.py",
    "*/settings/*",
    "*/wsgi.py",
    "*/asgi.py",
    "manage.py"
]

[tool.coverage.report]
fail_under = 80
show_missing = true
skip_covered = true

[tool.coverage.html]
directory = "coverage_html_report"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "app.settings"
python_files = ["tests.py", "test_*.py", "*_tests.py"]
addopts = "--ds=app.settings --reuse-db --nomigrations --cov=src --cov-report=term-missing --cov-report=html"
